---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=z7s23ZFEXCjjk2U8vbiTB6SAPsJ8U2Tu&location=rochester,ny
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 15 Nov 2021 17:24:09 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"rochester,ny"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Rochester","adminArea5Type":"City","adminArea4":"Monroe
        County","adminArea4Type":"County","adminArea3":"NY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039910","unknownInput":"","type":"s","latLng":{"lat":43.155708,"lng":-77.612547},"displayLatLng":{"lat":43.155708,"lng":-77.612547},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=z7s23ZFEXCjjk2U8vbiTB6SAPsJ8U2Tu&type=map&size=225,160&locations=43.155708,-77.612547|marker-sm-50318A-1&scalebar=true&zoom=12&rand=282161234"}]}]}'
  recorded_at: Mon, 15 Nov 2021 17:24:09 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=136d3363fb0c5e03ba9ea3023846b9fa&lat=43.155708&lon=-77.612547&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":43.1557,"lon":-77.6125,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1636997050,"sunrise":1636977821,"sunset":1637012805,"temp":40.33,"feels_like":36.16,"pressure":1010,"humidity":84,"dew_point":35.89,"uvi":1.17,"clouds":75,"visibility":10000,"wind_speed":5.99,"wind_deg":315,"wind_gust":11.01,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1636997100,"precipitation":0},{"dt":1636997160,"precipitation":0},{"dt":1636997220,"precipitation":0},{"dt":1636997280,"precipitation":0},{"dt":1636997340,"precipitation":0},{"dt":1636997400,"precipitation":0},{"dt":1636997460,"precipitation":0},{"dt":1636997520,"precipitation":0},{"dt":1636997580,"precipitation":0},{"dt":1636997640,"precipitation":0},{"dt":1636997700,"precipitation":0},{"dt":1636997760,"precipitation":0},{"dt":1636997820,"precipitation":0},{"dt":1636997880,"precipitation":0},{"dt":1636997940,"precipitati[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"86-Jv8ZboB8ImLXR1sJhXPFU8E3H8Y"
    body:
      encoding: UTF-8
      string: '{"activity":"Meditate for five minutes","type":"relaxation","participants":1,"price":0,"link":"","key":"3699502","accessibility":0.05}'
  recorded_at: Mon, 15 Nov 2021 17:24:12 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8d-sfUbW7aUsW1wujXpu8HPUQYI+/4"
    body:
      encoding: UTF-8
      string: '{"activity":"Create a meal plan for the coming week","type":"cooking","participants":1,"price":0,"link":"","key":"3491470","accessibility":0}'
  recorded_at: Mon, 15 Nov 2021 17:24:15 GMT
recorded_with: VCR 6.0.0
