---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=z7s23ZFEXCjjk2U8vbiTB6SAPsJ8U2Tu&location=orlando,fl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 15 Nov 2021 17:20:37 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"orlando,fl"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Orlando","adminArea5Type":"City","adminArea4":"Orange
        County","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040738","unknownInput":"","type":"s","latLng":{"lat":28.538331,"lng":-81.378879},"displayLatLng":{"lat":28.538331,"lng":-81.378879},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=z7s23ZFEXCjjk2U8vbiTB6SAPsJ8U2Tu&type=map&size=225,160&locations=28.538331,-81.378879|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1696398457"}]}]}'
  recorded_at: Mon, 15 Nov 2021 17:20:37 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=136d3363fb0c5e03ba9ea3023846b9fa&lat=28.538331&lon=-81.378879&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":28.5383,"lon":-81.3789,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1636996838,"sunrise":1636976903,"sunset":1637015531,"temp":68.79,"feels_like":67.48,"pressure":1022,"humidity":45,"dew_point":46.62,"uvi":4.58,"clouds":1,"visibility":10000,"wind_speed":10.36,"wind_deg":340,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1636996860,"precipitation":0},{"dt":1636996920,"precipitation":0},{"dt":1636996980,"precipitation":0},{"dt":1636997040,"precipitation":0},{"dt":1636997100,"precipitation":0},{"dt":1636997160,"precipitation":0},{"dt":1636997220,"precipitation":0},{"dt":1636997280,"precipitation":0},{"dt":1636997340,"precipitation":0},{"dt":1636997400,"precipitation":0},{"dt":1636997460,"precipitation":0},{"dt":1636997520,"precipitation":0},{"dt":1636997580,"precipitation":0},{"dt":1636997640,"precipitation":0},{"dt":1636997700,"precipitati[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"71-jm9Gjhho3eI9rd4kCp2sekw1VE0"
    body:
      encoding: UTF-8
      string: '{"activity":"Color","type":"relaxation","participants":1,"price":0.1,"link":"","key":"5322987","accessibility":0}'
  recorded_at: Mon, 15 Nov 2021 17:20:40 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"89-yLc8noxnzyUjcCCud6J8pMVhu3c"
    body:
      encoding: UTF-8
      string: '{"activity":"Take a hike at a local park","type":"recreational","participants":1,"price":0,"link":"","key":"8724324","accessibility":0.1}'
  recorded_at: Mon, 15 Nov 2021 17:20:43 GMT
recorded_with: VCR 6.0.0
