---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=z7s23ZFEXCjjk2U8vbiTB6SAPsJ8U2Tu&location=napa,ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 15 Nov 2021 17:20:43 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"napa,ca"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Napa","adminArea5Type":"City","adminArea4":"Napa
        County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040069","unknownInput":"","type":"s","latLng":{"lat":38.297242,"lng":-122.289405},"displayLatLng":{"lat":38.297242,"lng":-122.289405},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=z7s23ZFEXCjjk2U8vbiTB6SAPsJ8U2Tu&type=map&size=225,160&locations=38.297242,-122.289405|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1728040456"}]}]}'
  recorded_at: Mon, 15 Nov 2021 17:20:43 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=136d3363fb0c5e03ba9ea3023846b9fa&lat=38.297242&lon=-122.289405&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2972,"lon":-122.2894,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1636996844,"sunrise":1636987862,"sunset":1637024211,"temp":54.7,"feels_like":53.91,"pressure":1021,"humidity":86,"dew_point":50.59,"uvi":0.58,"clouds":90,"visibility":3219,"wind_speed":5.75,"wind_deg":0,"weather":[{"id":701,"main":"Mist","description":"mist","icon":"50d"}]},"minutely":[{"dt":1636996860,"precipitation":0},{"dt":1636996920,"precipitation":0},{"dt":1636996980,"precipitation":0},{"dt":1636997040,"precipitation":0},{"dt":1636997100,"precipitation":0},{"dt":1636997160,"precipitation":0},{"dt":1636997220,"precipitation":0},{"dt":1636997280,"precipitation":0},{"dt":1636997340,"precipitation":0},{"dt":1636997400,"precipitation":0},{"dt":1636997460,"precipitation":0},{"dt":1636997520,"precipitation":0},{"dt":1636997580,"precipitation":0},{"dt":1636997640,"precipitation":0},{"dt":1636997700,"precipitati[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"80-1fmB+ULWB/HhPc7HFw1K2brndQ0"
    body:
      encoding: UTF-8
      string: '{"activity":"Go to a nail salon","type":"relaxation","participants":1,"price":0.4,"link":"","key":"7526324","accessibility":0.5}'
  recorded_at: Mon, 15 Nov 2021 17:20:46 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=busywork
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"95-XKsLkZQachw5Nv045EoRAi3x9eQ"
    body:
      encoding: UTF-8
      string: '{"activity":"Match your storage containers with their lids","type":"busywork","participants":1,"price":0,"link":"","key":"4940907","accessibility":1}'
  recorded_at: Mon, 15 Nov 2021 17:20:49 GMT
recorded_with: VCR 6.0.0
