---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=1&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 563492ad6f91700001000001815865a9b0984af59d9f7a028768542e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19996'
      X-Ratelimit-Reset:
      - '1639461070'
      X-Server:
      - master
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":1,"photos":[{"id":7109174,"width":3507,"height":5260,"url":"https://www.pexels.com/photo/man-in-suit-holding-a-tablet-communicating-with-a-woman-holding-documents-7109174/","photographer":"Tiger
        Lily","photographer_url":"https://www.pexels.com/@tiger-lily","photographer_id":2700415,"avg_color":"#9FA6AB","src":{"original":"https://images.pexels.com/photos/7109174/pexels-photo-7109174.jpeg","large2x":"https://images.pexels.com/photos/7109174/pexels-photo-7109174.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/7109174/pexels-photo-7109174.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/7109174/pexels-photo-7109174.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/7109174/pexels-photo-7109174.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/7109174/pexels-photo-7109174.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/7109174/pexels-photo-7109174.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/7109174/pexels-photo-7109174.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false}],"total_results":2652,"next_page":"https://api.pexels.com/v1/search/?page=2\u0026per_page=1\u0026query=denver%2Cco"}'
  recorded_at: Tue, 16 Nov 2021 06:49:55 GMT
recorded_with: VCR 6.0.0
